<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>sampleServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormHandlerServlet</display-name>
    <servlet-name>FormHandlerServlet</servlet-name>
    <servlet-class>sampleServlet.FormHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormHandlerServlet</servlet-name>
    <url-pattern>/FormHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>sampleServlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>form3</display-name>
    <servlet-name>form3</servlet-name>
    <servlet-class>sampleServlet.form3</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet4</display-name>
    <servlet-name>RegisterServlet4</servlet-name>
    <servlet-class>sampleServlet.RegisterServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet4</servlet-name>
    <url-pattern>/RegisterServlet4</url-pattern>
  </servlet-mapping>
</web-app>